@charset "utf-8";
/* CSS Document */

html,body{
	font-family:"STXihei","STHeitiLight","华文细黑", "Microsoft JhengHei", "Microsoft YaHei",'微软雅黑',Arial,sans-serif !important;
	margin:0px; padding:0px; 
	overflow-x: hidden;
}
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, del, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
} */
ol, ul {
	list-style: none
}
ul li a{
	display:block;
}
a{
	text-decoration:none;
	color:#666;
	outline:none;
	}
input{
	border:1px solid #ccc;
	outline:none;
	}
textarea{
	border:1px solid #ccc;
	outline:none;
	}
form{
	margin:0px;
	padding:0px;
	}
th, td {
	vertical-align: middle
}
.fl, .Left {
	float: left
}
.fr, .Right {
	float: right
}
table{
	cellspacing:0px;
}
img{
	border:none;
}
a,img{border:0;}
.clear{
	clear:both;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

a{outline:none !important;}

img{border:0 none;}

.xinwen_con{
	padding-top:60px !important;
}


/**phone**/
.headTop{width: 100%; height: 60px; z-index: 99;
	position: absolute;
	top: 0;
	left: 0;}
.headTop p{margin:0;padding:0;}
.top-left{color: #255DBC;position: absolute;top: 10px;bottom: 0;font-size: 20px;padding: 10px 15px;
    cursor: pointer;}
.top-left span{
	display: block;
	width: 20px;
	height: 2px;
	margin: 4px 0;background: #255DBC;
}
.p_nav_box {
	position: relative;
	height: 60px;
}
.headTop .top-mid{font-size:18px;left: 50%;line-height:45px;margin-left: -85px;padding: 2px;position: absolute;top: 10px;}
.headTop .top-right{left: auto;right: 0;color: #fff;position: absolute;top: 0;bottom: 0;font-size: 20px;padding: 7px 10px;}
.headTopMain{top: 0;z-index: 9999;width: 100%;height: 59px;position: fixed; top: 0;left: auto;bottom: auto;right: auto;color: #fff;background: #fff;    box-shadow: 1px 1px 5px #cacaca;}
/*********menu菜单**********/
html{position:relative;width:100%;}
html.menu-active{overflow: hidden; position: fixed; top: 0; bottom: 0; left: 0;}
.menuBox{
    color: #255DBC;position: fixed;
    width: 160px;height: 100%;top: 0;left: -160px;
    border-right: solid 1px #E6E6E6;}

.menuTitle{height: 60px;padding: 0 15px;border-bottom: 1px solid rgba(0,0,0,0.1);}
.menuTitle i{font-size:20px;float: left;line-height:60px;}
.menuBody ul li i{font-size:16px;float: right;margin-right: 15px;line-height:23px; color: #255DBC;}
.menuTitle span{font-size: 16px;margin: 20px;line-height: 60px;}
.menuBody ul li.a{border-bottom: 1px solid rgba(0,0,0,0.1);padding: 15px 0;}
.menuBody ul li.active{
	background:#255DBC;
}
.menuBody ul li.active span{
	color:#fff;
}
.menuBody ul li.a ul{margin-top: 10px;width: 100%;display:none;overflow:hidden;border-top: 1px solid rgba(0,0,0,0.1);background: rgba(255,255,255,0.2);}
.menuBody ul li.a ul li{    height: 40px;
	border-bottom: 1px solid #795025;
	padding: 10px 0 10px 30px;
	font-size: 12px;
	width: 50%;
	float: left;
	border-right: solid 1px #795025;}
.menuBody ul li.a ul li a{
    color: #255DBC; line-height:30px;}
.menuBody ul li span{margin-left: 15px;
    color: #255DBC;}
/**phone**/
.screen1-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 60px;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.common_bt {
	width: 80%;
	padding: 0 0 20px 0;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.common_bt .biao {
	position: absolute;
	right: 50%;
	top: -7px;
	z-index: 0;
	width: 150px;
	margin-right:-150px;
}
.common_bt h3 {
	font-size: 30px;
	color: #333;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	z-index: 9;
	font-weight: 600;
}
.common_bt h6 {
	color: #999;
	font-size: 14px;
	letter-spacing: 2px;
	margin: 15px 0 30px 0;
	font-weight: 600;
	display:inline-block;
	 border-bottom:1px #B1CE7D solid;   padding-bottom:3px;
}
.common_bt p {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 2px;
}
.about_sec3 .common_bt{ width:100%;}
.miaosu{     color: #fff;
    width: 80%;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 40px;
    font-weight: 600;}
.project_sec2 .miaosu{
    font-size: 16px;}
