@charset "utf-8";
/* CSS Document */




/*5.30*/
.video_special1{
    padding: 60px 0;
    background-color: #f5f5f5;
}
.video_special_tit{
    text-align: center;
    margin-bottom: 50px;
}
.video_special_tit h1{
    font-size: 34px;
    margin: 0px;
    margin-bottom: 5px;
}
.video_special_tit h5{
    color: #999;
    font-size: 20px;
    margin: 0px;
}
.video_special1_box1 .video_special1_img{
      padding-bottom: 84%;
}
.video_special1_img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 80.8%;
    margin-bottom: 13px;
}
.video_special1_play{
    position: absolute;
    width: 70px;
    top:50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.video_special1_box h5{
    font-size: 16px;
    height: 16px;
    color: #666;
    position: relative;
    padding-left: 20px;
    margin: 0px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.video_special1_box h5:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    border-top:5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffd95c;
}
.video_special2{
    background-color: #fff;
    padding: 50px 25px;
}
.video_special2 .container-fluid{
    padding: 0 25px;
}
.video_special2 .row{
    margin: 0 -25px;
    font-size: 0px;
    text-align: center;
}
.video_special2 .col-md-3{
    padding: 0 25px;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.video_special2_box{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 60%;
    position: relative;
}

.video_special3{
    padding: 50px 0;
}
.video_special3_news{
    border-top:1px solid #ccc;
}
.video_special3_news a{
    display: block;
    color: #333;
    padding: 40px 10%;
}
.video_special3_news_tit{
    display: inline-block;
    width: 25%;
    float: left;
    margin-right: 26px;
    text-align: center;
}
.video_special3_news_tit h1{
    font-size: 25px;
    line-height: 37px;
    padding: 0px 27px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    margin: 0px;
    margin-bottom: 13px;
}
.video_special3_news_text{
    width: 50%;
    float: left;
}
.video_special3_news_text p{
    font-size: 16px;
    line-height:26px;
}
.video_special3_news_text p{
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
}
.video_special3_news_more{
    float: right;
    padding-top: 4%;
}
.video_special3_news_more p{
    margin: 0px;
    padding: 0 40px 22px 40px;
    border-bottom:1px solid #ccc;
    font-size: 16px;
}
.video_special3_box{
    width: 33.3%;
    float: left;
}
.video_special3_img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 41%;
}
.video_special3_text{
    padding: 9% 8%;
}
.video_special3_text h5{
    font-size: 19px;
    margin:0px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    color: #333;
    overflow:hidden;
}
.video_special3_text p{
    font-size: 16px;
    color: #666;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}
.video_special_inner_video embed{
    width: 100%;
    height: 700px;
}
.gallery_inner_img_son{
    max-width: 1100px;
    margin: 0 auto;
}
.gallery_inner_img_son_big{
    position: relative;
}
.gallery_bt_left,.gallery_bt_right{
    position: absolute;
    top:45%;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    z-index: 999;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(255,255,255,0.4);
     transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.gallery_bt_left{
    left: -10px;
    border-radius: 0 20px 20px 0;
}
.gallery_bt_left:hover{
    left: 0px;
}
.gallery_bt_left.swiper-button-disabled ,.gallery_bt_right.swiper-button-disabled{
    filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;
}
.gallery_bt_right{
    right: -10px;
    border-radius: 20px 0 0 20px;
}
.gallery_bt_right:hover{
    right: 0px;
}
.gallery_swiper_img2 .swiper-slide{
    width: 13%;
    height: 100%;
    opacity: 0.4;
     transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  cursor: pointer;
}
.gallery_swiper_img2 .swiper-slide:hover{
    opacity: 1;
}
.gallery_inner_img_son_small {
     background-color:#333;
     padding: 2px 0;
}
.gallery_swiper_img2 .swiper-slide.on{
    opacity: 1;
}
.gallery_inn_img1{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 500px;
    overflow:hidden;
}
.gallery_inn_img2{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   margin: 3px;
   height: 62px;
   overflow: hidden;
}
.gallery_inner_img_son_small{
    position: relative;
}
.gallery_bt_left2,.gallery_bt_right2{
    position: absolute;
    top:30%;
    width: 26px;
    height: 26px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50%;
    font-size: 0px;
    
}
.gallery_bt_left2 img,.gallery_bt_right2 img{
    display: block;
}
.gallery_bt_left2{
    left: 10px;
}
.gallery_bt_right2{
    right: 10px;
}
.video_special2_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:300px;
    background: rgba(0,0,0,0.5);
    filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;
}
.video_special2_text{
    position: absolute;
    top:60%;
    left: 0%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#fff;
    font-size: 14px;
    text-align: center;
    filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;
     transition:all 0.8s ease;
  -webkit-transition:all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.video_special2_text p{
    margin: 0px;
    margin-top:6px;
    text-transform: uppercase;
    font-size: 12px;
}
.video_special2_box_fa:hover .video_special2_text{
    top: 50%;
    filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;
}
.video_special2_box_fa{
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
}
.video_special2_box{
    transition:all 0.8s ease;
  -webkit-transition:all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.video_special2_box_fa:hover .video_special2_box{
    -webkit-transform: scale(1.05) rotate(1deg);
    transform: scale(1.05) rotate(1deg);
}
/*5.30*/





