
.c_mt{
	margin:0 auto;
	width:1003px;
}

.historyMain{
	width:100%;
	/* height:711px; */
	background:#fff url(../../images/history/historymainbg_03.jpg) no-repeat center bottom;
}

.historyMainChooseCon{
	position:relative;
	float:left;
	width:1003px;
	height:475px;
}
.historyMainChooseConLeft{
	float: left;
	width: 1066px;
	height: 450px;
	position: absolute;
	top: -18px;
	left: -23px;

}
.historyMainContent{
	width:100%;
	height:530px;
	background: url(../../images/history/historymainpoint_06.png) repeat-x center 521px;
}
.booklet .b-wrap-right {
	background: #fff url(../../images/history/bookbg_left.jpg) no-repeat left center  ;
}
.historyMainChooseConArrow{
	display:none;
	cursor:pointer;
	z-index: 12;
	position:absolute;
	left:446px;
	top:0;
	width:55px;
	height:55px;
	background:#7a7a7a url(../../images/history/historymainchooseconarrow_09.gif) no-repeat center center;
}

.historyMainChooseConDate{
	left:501px;
	top:0;
	width:158px;
	height:55px;
	background:#e60013;
	line-height:55px;
	font-size:36px;
	color:#fff;
	padding-left:60px;
	z-index:13;
}
.historyMainChooseConPoint{
	position:absolute;
	right:0;
	top:0;
	width:18px;
	height:18px;
	background:#e60013;
}
.historyMainChooseConRight{
	float:left;
	width:440px;
	height:334px;
	padding:90px 0 0 62px;
	line-height:24px;
	color:#4a4a4a;
}
.historyMainChooseConRight ul li{
	float:left;
	width:100%;
}
.historyMainChooseConRight ul li span{
	display:block;
	float:left;
	width:200px;
	color:#e60013;
}
.historyMainChooseConRight ul{
	padding-left: 10px;
	height: 330px;
	overflow-y: auto;
	display: block;
}
.historyMainChooseConRight ul li p{
	display:block;
	float:left;
	width:380px;
}
.historyMainChooseMenuLink{
	position:absolute;
	z-index:14;
}
.historyMainChooseMenuOver{
	position:absolute;
	z-index:3;
}
.historyMainChooseMenu{
	position:relative;
	float:left;
	width:435px;
	height:60px;
}
.historyMainChooseMenuLink li{
	background: url(../../images/history/historymainchoosemenulinkrepeat_17.gif) repeat-x 0 45px;
}
.historyMainChooseMenuOver li{
	position:absolute;
	top:0;
	float:left;
	width:68px;
	height:60px;
	background:url(../../images/history/historymainchoosemenupointrepeat_14.gif) repeat-x 0 45px;
	cursor:pointer;
}
.historyMainChooseMenuLink li{
	position:absolute;
	top:0;
	float:left;
	width:68px;
	height:60px;
	cursor:pointer;
}
.history_2012{
	width: 420px;
}
.historyMainChooseMenu ul li h4{
	position:absolute;
	text-align: right;
	right: -12px;
	width:68px;
	height:41px;
	font-size:14px;
	color:#111;
	z-index:13;
	font-weight: bold!important;
}
.historyMainChooseMenu ul li h4:hover{
	font-size:16px;
}
.historyMainChooseMenu ul li span{
	display:block;
	width:68px;
	height:16px;
	background:url url(../../images/history/historymainchoosemenupoint_14.gif) no-repeat;
	margin-left:-3px;
}
.historyMainChooseMenu_1,.historyMainChooseMenuLink_1{left:884px;}
.historyMainChooseMenu_2,.historyMainChooseMenuLink_2{left:816px;}
.historyMainChooseMenu_3,.historyMainChooseMenuLink_3{left:748px;}
.historyMainChooseMenu_4,.historyMainChooseMenuLink_4{left:680px;}
.historyMainChooseMenu_5,.historyMainChooseMenuLink_5{left:612px;}
.historyMainChooseMenu_6,.historyMainChooseMenuLink_6{left:544px;}
.historyMainChooseMenu_7,.historyMainChooseMenuLink_7{left:476px;}
.historyMainChooseMenu_8,.historyMainChooseMenuLink_8{left:408px;}
.historyMainChooseMenu_9,.historyMainChooseMenuLink_9{left:340px;}
.historyMainChooseMenu_10,.historyMainChooseMenuLink_10{left:272px;}
.historyMainChooseMenu_11,.historyMainChooseMenuLink_11{left:204px;}
.historyMainChooseMenu_12,.historyMainChooseMenuLink_12{left:136px;}
.historyMainChooseMenu_13,.historyMainChooseMenuLink_13{left:68px;}
.historyMainChooseMenu_14,.historyMainChooseMenuLink_14{left:0;}


